<h1>Welcome to Blog List</h1>
<% if user_signed_in? %>
  <p>Post some blogs or add some lists</p>
<% else %>
<%# no one is signed in %>
  <p>
    Get Started. <%= link_to 'Sign up now!', new_user_registration_path %>
  </p>
<% end %>
